<ul class="list-unstyled">
  <% spots.each do |spot| %>
    <li class="media mb-3">
      <div class="show">
        <%= link_to spot.user.name, user_path(spot.user) %> <span class="text-muted">posted at <%= spot.created_at %></span>
        <div class="show-menu">
          <p>スポット名　<%= spot.name %></p>
          <p>住所　<%= spot.address %></p>
          <%= link_to '詳細を見る', spot, id: spot.id %>
          <% if current_user == spot.user %>
      　    <%= link_to "この投稿を削除する", spot, method: :delete, data: { confirm: "You sure?" }, class: 'mb-1' %>
          <% end %>
        </div>
      </div>
    </li>
  <% end %>
  <script type="text/javascript">
  $('#spot_picture').bind('change', function() {
    var size_in_megabytes = this.files[0].size/1024/1024;
    if (size_in_megabytes > 5) {alert('Maximum file size is 5MB. Please choose a smaller file.');}
  });
  </script>
  <%= paginate spots %>
</ul>