<ul class="list-unstyled">
  <% spots.each do |spot| %>
    <li class="media mb-3">
      <div class="show">
        <%= link_to spot.user.name, user_path(spot.user) %> <span class="text-muted">posted at <%= spot.created_at %></span>
        <div class="show-menu">
            <% if spot.picture? %>
              <%= image_tag spot.picture.url(:thumb100), class: 'image' %>
            <% else %>
              <%= image_tag"l_e_others_501.png", size: '220x135', class: 'image' %>
            <% end %>
          <div class="side">
            <table>
              <tr>
                <th>スポット名</th>
                <td><%= truncate(spot.name, omission: '...', length: 20) %></td>
              </tr>
              <tr>
                <th>住所</th>
                <td><%= truncate(spot.address, omission: '...', length: 20) %></td>
              </tr>
            </table>
            <ul>
              <li><%= link_to '詳細を見る', spot, id: spot.id %></li>
              <% if current_user == spot.user %>
                <li><%= link_to '編集する', edit_spot_path(spot) %></li>
                <li><%= link_to "この投稿を削除する", spot, method: :delete, data: { confirm: "You sure?" } %></li>
              <% end %>
            </ul>
          </div>
        </div>
      </div>
    </li>
  <% end %>
  <%= paginate spots %>
</ul>