<div class="row mb-5">
  <div class="col-sm-6 offset-sm-3">
    <%= form_with(model: @spot, local: true) do |f| %>
      <% if @spot.errors.any? %>
        <%= render 'layouts/error_messages', model: f.object %>
      <% end %>
  　　
      <div class="form-group">
        <%= f.label :name, 'スポット名称' %>
        <%= f.text_field :name, class: 'form-control' %>
      </div>
      
      <div class="form-group">
        <%= f.label :picture, 'スポット写真' %>
        <p><%= f.file_field :picture, accept: 'image/jpeg,image/gif,image/png' %></p>
        <p><%= f.check_box :remove_picture %>画像を設定しない</p>
      </div>
    
      <div class="form-group">
        <%= f.label :address, '住所' %>
        <%= f.text_field :address, class: 'form-control' %>
      </div>
      
      <div>
        <%= f.label :about, 'このスポットについての説明' %>
        <%= f.text_area :about, size: "20x10", class: 'form-control' %>
        <%= f.submit 'スポット情報を更新する', class: 'btn btn-primary mt-5 btn-edit' %>
      </div>   
    <% end %>
  </div>
</div>