<div class="content">
  <div class="main">
    <h3><%= link_to @spot.user.name, user_path(@spot.user) %>さんの投稿</h3>
    <% if @spot.picture? %>
      <%= image_tag @spot.picture.url(:thumb), class: 'image' %>
    <% else %>
      <%= image_tag"l_e_others_501.png", size: '500x300', class: 'image' %>
    <% end %>
  </div>
  <div class="description">
    <table>
      <tr>
        <th>スポット名</th>
        <td><%= @spot.name %></td>
      </tr>
      <tr>
        <th>住所</th>
        <td><span><%= @spot.address %></span></td>
      </tr>
        <th>このスポットの説明</th>
        <td><span><%= simple_format(@spot.about) %></span></td>
      </tr>
    </table>
  </div>
  <div class="foot">
    <%= render "favorites/favorite", spot: @spot %>
  </div>
</div>    
