<div class="text-center">
  <h2>ユーザ登録</h2>
</div>

<div class="row mb-4 pt-4">
  <div class="col-lg-4 offset-lg-4 col-sm-8 offset-sm-2">
    <%= form_with(model: @user, local: true) do |f| %>
      <% if @user.errors.any? %>
      　  <%= render 'layouts/error_messages', model: f.object %>
    　<% end %>
      
      <div class="form-group">
        <%= f.label :name, 'ユーザー名' %>
        <%= f.text_field :name, placeholder: '※１０文字以内', class: 'form-control' %>
      </div>
  
      <div class="form-group">
        <%= f.label :email, 'メールアドレス' %>
        <%= f.email_field :email, class: 'form-control' %>
      </div>
  
      <div class="form-group">
        <%= f.label :password, 'パスワード' %>
        <%= f.password_field :password, class: 'form-control' %>
      </div>
  
      <div class="form-group">
        <%= f.label :password_confirmation, 'パスワード（確認）' %>
        <%= f.password_field :password_confirmation, class: 'form-control' %>
      </div>
  
      <%= f.submit '登録', class: 'btn btn-primary btn-block mt-2' %>
    <% end %>
    <p><%= link_to 'ユーザー登録済の方はこちら', login_path %></p>
  </div>
</div>