<div class="row">
  <div class="col-lg-6 offset-lg-3 col-sm-8 offset-sm-2 mt-5">
    <%= form_with(model: @user, local: true) do |f| %>
      <% if @user.errors.any? %>
        <%= render 'layouts/error_messages', model: f.object %>
      <% end %>
    　　
      <div class="form-group">
        <%= f.label :image, 'プロフィール写真' %>
        <p><%= f.file_field :image, accept: 'image/jpeg,image/gif,image/png' %></p>
        <p><%= f.check_box :remove_image %>画像を設定しない</p>
      </div>
      
      <div class="form-group">
        <%= f.label :name, 'ユーザ名' %>
        <%= f.text_field :name, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :introduce, '自己紹介（255文字以内）' %>
        <%= f.text_area :introduce, :maxlength => "255", :size => "80x7",  class: 'form-control'  %>
      </div>
      <%= f.submit 'プロフィール編集を完了する', class: 'btn btn-primary mb-3 btn-edit' %>
    <% end %>
  </div>
</div>
