<div class="home">
  <div class="sidebar">
    <div class="item">
      <% if current_user == @user %>
        <% if @user.image? %>
          <%= image_tag @user.image.url(:thumb170), class: 'avatar rounded-circle image mt-5' %>
          <h3 class="pb-2"><%= @user.name %></h3>
          <div class="user-menu">
            <p><%= simple_format(@user.introduce) %></p>
          </div>
        <% else %>
          <%= image_tag"noimage.png", size: '170x170', class: 'avatar rounded-circle image mt-5' %>
          <h3 class="pb-2"><%= @user.name %></h3>
          <div class="user-menu">
            <p><%= simple_format(@user.introduce) %></p>
          </div>
        <% end %>
      <% else %>
        <% if @user.image? %>
          <%= image_tag @user.image.url(:thumb170), class: 'avatar rounded-circle image mt-5' %>
          <h3 class="pb-2"><%= @user.name %></h3>
          <div class="user-menu">
            <p><%= simple_format(@user.introduce) %></p>
          </div>
        <% else %>
          <%= image_tag"noimage.png", size: '170x170', class: 'avatar rounded-circle image mt-5' %>
          <h3 class="pb-2"><%= @user.name %></h3>
        <% end %>
      <% end %>
      <% if current_user == @user %>
        <p><%= link_to 'プロフィールを編集する', edit_user_path(@user) %></p>
        <p><%= link_to '投稿する', spots_new_path, class: 'btn btn-primary w-75' %></p>
      <% end %>
    </div>
  </div>
  <div class="feature pt-5">
    <div class="tab">
      <ul class="nav nav-tabs nav-justified mb-3">
        <li class="nav-item"><a href="<%= user_path(@user) %>" class="nav-link <%= 'active' if current_page?(user_path(@user)) %>">投稿一覧  <span class="badge badge-secondary ml-1 pt-1"><%= @count_spots %></span></a></li>
        <li class="nav-item"><a href="<%= likes_user_path(@user) %>" class="nav-link <%= 'active' if current_page?(likes_user_path(@user)) %>">お気に入り<span class="badge badge-secondary ml-1 pt-1"><%= @count_favorites %></span></a></li>
      </ul>
      <%= render 'spots/spots', spots: @subspots %>
    </div>
  </div>
</div>
